@charset "utf-8";
/* em HTML é id = em CSS é # */
/* em HTML é class = em CSS é . */

/* Estilo para o corpo da página */
body {
    background-color: #e6f2e6; /* Verde claro suave */
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #2e5d34; /* Verde escuro */
}

h1#principal {
    text-align: center;
    background-color: #f8faf8; /* Branco levemente esverdeado */
}

h2 {
    color: #4e7fe2; /* Azul suave */
}
.basico {
    text-align: center;
    color: #2e5d34;
}
.intermediario {
    text-align: center;
    color: #4e7fe2;
}
.avançado {
    text-align: center;
    color: #e26f4e; /* Laranja suave */
}
